<link href="/src/styles.css"/>

<div class="main">
  <div class="flex-container top">
    <div class="cap left" id="leftCap"></div>
    <div class="bar"></div>
    <div class="nav"><strong>RESUME</strong></div>
    <div class="cap right" id="rightCap"></div>
  </div>

  <div>
    <img class="logo" src="assets/img/logo2.png" />
    <!-- <img class="logo" src="assets/img/messageImg.jpg" /> -->
  </div>

  <div><h1 class="name">GARET M. DADE</h1></div>
  
  <div class="info1">ACCESS GRANTED</div>
  
  <div class="info2">PLEASE REPORT MALFUNCTIONS TO ENGINEER</div>

  <div class="flex-container bottom">
    <div class="cap left"></div>
    <div class="nav"><strong>CONSOLE 42 BETA</strong></div>
    <div class="bar"></div>
    <div class="cap right"></div>
  </div>
  
</div>



