/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Trek;
    src: local(Trek), url(/src/assets/fonts/Context_Ultra_Condensed.ttf) format("truetype");
  }

body {
    background-color: black;
    font-family: Trek;
}